@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .centered {
    @apply flex justify-center items-center
  }
  .input {
    @apply w-full font-normal text-gray-400 text-xl p-4 outline-none border-b-2 focus:border-b-blue-600 focus:border-b-2 transition-all
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.rounded1 {
  border-radius: 9009000px;
  display: block;
}